@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body{
    font-family: 'Arvo', serif;
    background-color: rgba(255, 116, 236, 0.705);
    display: center;
}

.city{
    font-size: 32px;
}

.date {
    font-size: 16px;
    background-color: rgb(247, 196, 240);
}

.container-temp{
    display: flex;
    justify-content: center;
    background-color: rgb(116, 199, 255);
    box-shadow: 5px 6px rgba(69, 32, 204, 0.6);
    cursor: pointer;

    font-size: 100px;
    font-weight: 800;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather{
    font-size: 32px;    
}


.rodape{
    position: flex;
    text-align: center;
    color:rgb(0, 0, 0);
    margin-left: 0%;
    margin-top: 10%;
    font-size: 20px;
   
}
